[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "==0.11.0"
kubernetes = "==18.20.0"
c2cwsgiutils = "==4.1.4"
cee-syslog-handler = "==0.6.0"
pyramid = "==2.0"

[dev-packages]
prospector = {version = "==1.4.1", extras = ["with_bandit", "with_mypy"]}
flake8 = "==3.8.4"
types-requests = "==2.25.6"

[requires]
python_version = "3.8"
